<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdst.mwrdph.admin.mapper.AdminUserMapper">
    <select id="queryTopUser" resultType="cn.edu.sdst.mwrdph.entity.UserPO">
        SELECT *
        FROM mwr_user
    </select>
    <select id="queryUserByItems" resultType="cn.edu.sdst.mwrdph.entity.UserPO">
        SELECT *
        FROM mwr_user
        where name like '%${name}%'
    </select>
    <delete id="delUser">
        DELETE
        FROM mwr_user
        WHERE id = #{id}
    </delete>
    <update id="updateUser">
        UPDATE mwr_user
        SET name=#{user.name},
            role=#{user.role},
            tel=#{user.tel},
            age=#{user.age}
        WHERE id = #{user.id}
    </update>
    <insert id="addUser">
        INSERT INTO mwr_user
            (name, password, role, tel, age, photo_url, last_login_time)
        VALUES (#{user.name}, #{user.password}, #{user.role}, #{user.tel}, #{user.age},
                #{user.photoUrl}, now())
    </insert>
</mapper>