<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdst.mwrdph.admin.mapper.AdminSectionMapper">
    <select id="queryTopSections" resultType="cn.edu.sdst.mwrdph.entity.SectionPO">
        SELECT *
        FROM mwr_section
        limit 50
    </select>
    <select id="querySectionByItems" resultType="cn.edu.sdst.mwrdph.entity.SectionPO">
        SELECT * FROM
        mwr_section
        <where>
            <if test="name != null">
                name LIKE '%${name}%'
            </if>
        </where>
    </select>
    <delete id="delSection">
        DELETE
        FROM mwr_section
        WHERE id = #{id}
    </delete>
    <update id="updateSection">
        UPDATE mwr_section
        SET name=#{section.name},
            lng=#{section.lng},
            lat=#{section.lat},
            update_time=now()
        WHERE id = #{section.id}
    </update>
    <insert id="addSection">
        INSERT mwr_section
        (name, lng, lat, radar_count, camera_count, is_deleted, created_time, update_time)
        VALUES (#{section.name}, #{section.lng}, #{section.lat}, #{section.radarCount},
                #{section.cameraCount},
                #{section.deleted}, now(), now())
    </insert>
</mapper>