<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdst.mwrdph.admin.mapper.AdminDetectorMapper">
    <select id="queryTopDetector" resultType="cn.edu.sdst.mwrdph.admin.vo.AdminDetectorVo">
        SELECT *
        FROM mwr_detector
    </select>
    <select id="queryDetectorByItems" resultType="cn.edu.sdst.mwrdph.admin.vo.AdminDetectorVo">
        SELECT
        *
        FROM
        mwr_detector
        <where>
            <if test="name != null">
                name like '%${name}%'
            </if>
        </where>
    </select>
    <delete id="delDector">
        DELETE
        FROM mwr_detector
        WHERE id = #{id}
    </delete>
    <update id="updateDetector">
        UPDATE mwr_detector
        SET section_id=#{detector.sectionId},
            name=#{detector.name},
            direction=#{detector.direction},
            lng=#{detector.lng},
            lat=#{detector.lat},
            update_time=now(),
            lane_ip=#{detector.laneIp}
        WHERE id = #{detector.id}
    </update>
    <insert id="addDetector">
        INSERT INTO mwr_detector
        (section_id, name, direction,
         lng, lat, radar_alive,
         has_camera, video_url, camera_alive,
         deleted, create_time, update_time, lane_ip, pc_id)
        values (#{item.sectionId}, #{item.name}, #{item.direction},
                #{item.lng}, #{item.lat}, #{item.radarAlive}, #{item.hasCamera},
                #{item.videoUrl}, #{item.cameraAlive}, #{item.deleted}, now(), now(),
                #{item.laneIp}, #{item.pcId})
    </insert>
</mapper>