<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdst.mwrdph.admin.mapper.AdminIncidentMapper">
    <select id="getLatest" resultType="cn.edu.sdst.mwrdph.entity.IncidentPO">
        SELECT id,
               section_id,
               detector_id,
               type,
               speed,
               distance,
               info,
               checked,
               create_time,
               update_time,
               timestamp
        FROM mwr_incident
        ORDER BY timestamp DESC
    </select>
    <select id="getIncidents" resultType="cn.edu.sdst.mwrdph.entity.IncidentPO">
        SELECT id,
        section_id,
        detector_id,
        type,
        speed,
        distance,
        info,
        checked,
        create_time,
        update_time,timestamp
        FROM mwr_incident
        <where>
            <if test="sectionId != null">
                section_id = #{sectionId}
            </if>
            <if test="start != null">
                AND (create_time BETWEEN #{start} AND #{end})
            </if>
            <if test="checkList!= null">
                AND type in
                <foreach item="checkList" collection="array" separator="," open="(" close=")" index="index">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
        create_time ASC
    </select>
    <select id="getIncidentsUnChecked" resultType="cn.edu.sdst.mwrdph.entity.IncidentPO">
        SELECT id,
               section_id,
               detector_id,
               type,
               speed,
               distance,
               info,
               checked,
               create_time,
               update_time,
               timestamp
        FROM mwr_incident
        where checked = 0
        ORDER BY timestamp ASC
    </select>
</mapper>