<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdst.mwrdph.ipc.mapper.IpcStatisticsMapper">
    <insert id="insertByList">
        INSERT INTO mwr_statistics (detector_id, section_id, direction, volume, speed, timestamp)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.detectorId}, #{item.sectionId}, #{item.direction}, #{item.volume}, #{item.speed},#{item.timestamp})
        </foreach>
    </insert>
</mapper>